@import "tailwindcss";
 @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-800;
    overflow-x: hidden;
  }
}

 